
#title {
    color:white;
}

.nav-item {
    margin-left:0.5rem;
}

.page {
    width:90%;
    height:60rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* ADJUST VISIBILITY FOR MOBILE */

@media (max-width: 767px) {

    .nav-pills li {width:100%;}
    .nav-pills {margin-top:1rem;}
    .nav-item {margin-left:0}
}

#map { height: 100%; }