<!DOCTYPE html>

<head>
<html data-bs-theme="dark" lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
   integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
   crossorigin=""/>
    <title>Walmart Machine Learning</title>

</head>

<body>

    <div class="container">
 
        <!-- TITLE -->
        <!-- <div class="col-md-6 justify-content-center">

        </div> -->
        
        <!-- NAV BAR -->
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <span class="fs-4" id="title">Walmart Machine Learning</span>
            <!-- NAV BUTTONS -->
            
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" id="nav1" href="#">
                        Trending & Seasonality
                    </a>
                </li>
                <li>

                </li class="nav-item">
                    <a class="nav-link" id="nav2" href="#">
                        Sales Predictions
                    </a>
                <li class="nav-item">
                    <a class="nav-link" id="nav3" href="#">
                        PCA
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="nav4" href="#">
                        Store Clustering
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="nav5" href="#">
                        Model Analysis
                    </a>
                </li>
            </ul>
        </header>
    </div>

    <div class="container">
        <div class="row" id = "dropdown-row">
            <select for="store-dropdown" id="store-dropdown" class="form-control">
                <option value="" disabled selected>Select a Store</option>
            </select>
        </div>
    </div>

    <div class="container" id="main-body">

        <div class="row">

            <!-- PAGE 1 -->
            <div class="col-lg-12 page" id="page1">
                <div class="line-chart" id="trend-chart"></div>
                <ul>
                    <li>
                        Trend analysis with time series – This graph analyses the weekly sales over the period of 143 weeks to plot the sales trend line using time series analysis.
                    </li>
                    <li>
                        You can see some stores have a healthy upward trend while some are having a dip and in recovery stage on their sales trend and while others plateauing.
                    </li>
                </ul>
                <div class="line-chart" id="seasonality-chart"></div>
                <ul>
                    <li>
                        Seasonal trend – The Seasonal graph shows the seasonal trend in weekly sales over the period of 143 weeks.
                    </li>
                    <li>
                        This graph shows the time over which sales peak, and you can see it repeat over the period showing the seasonal trend in sales.
                    </li>
                    <li>
                        In most stores these peaks happen in November (Thanksgiving and Black Friday) and in December over the Christmas season.
                    </li>
                    <li>
                        This analysis helps a great deal in store inventory and human resource management.
                    </li>
                </ul>
            </div>

            <!-- PAGE 2 -->
            <div class="col-lg-12 page d-none" id="page2">
                <div class="line-chart" id="predictions-chart"></div>
            </div>

            <!-- PAGE 3 -->
            <div class="col-lg-12 page d-none" id="page3">
                <div class="row" id="pca-row">
                    <div class="col-lg-6">
                        <div class="line-chart" id="pca-chart"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="line-chart" id="correlation-chart"></div>
                    </div>

                </div>
            </div>

            <!-- PAGE 4 -->
            <div class="col-lg-12 page d-none" id="page4">
                <div class="line-chart" id="cluster-chart"></div>
                <ul>
                    <li>
                        Cluster analysis – A cluster analysis was done on the stores with weekly sales and four clusters were identified.
                    </li>
                    <li>
                        The Scatter plot shows the four clusters and hovering over the plots will show the store, its cluster, and weekly sales based on a standard scaler.
                    </li>
                    <li>
                        Cluster two shows the best stores in terms of weekly sales while cluster one shows the lowest sales stores.
                    </li>
                </ul>
            </div>

            <!-- PAGE 5 -->
            <div class="col-lg-12 page d-none" id="page5">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="model-chart" id="model_chart1"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="model-chart" id="model_chart2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="model-chart" id="model_chart3"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="model-chart" id="model_chart4"></div>
                    </div>
                </div>
                <ul>
                    <li>
                        We used ROS (Random Over Sampler) to balance our data.
                    </li>
                    <li>
                        The model consistently achieved 100% accuracy across all 45 stores. This indicates that the model is robust and can generalize well to different stores and scenarios.
                    </li>
                    <li>
                        The precision, recall, and f1-score for both classes (0 and 1) are 1.0 for most stores. This means that the model has a perfect balance of identifying positive cases (e.g., successful outcomes) and negative cases (e.g., unsuccessful outcomes) for each store.
                    </li>
                    <li>
                        There is no indication of overfitting in the model's performance. Overfitting occurs when a model performs well on the training data but poorly on unseen data. Since the accuracy is high for all stores, it suggests that the model is generalizing well and not overfitting.
                    </li>
                    <li>
                        The model demonstrates a high predictive power in determining the outcome of each store, making it a reliable tool for decision-making and forecasting. The model's accuracy and performance across all 45 stores demonstrate its scalability. It can handle a large number of stores without compromising its predictive capability.
                    </li>
                    <li>
                        With a model accuracy of 1.0, it can be emphasized that the model can potentially provide substantial business value by accurately predicting outcomes, allowing for better resource allocation, inventory management, and overall store performance optimization.
                    </li>
                </ul>
            </div>

        </div>


    </div>









    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- LEAFLET JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- PLOTLY -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- LOCAL CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- LOCAL JAVASCRIPT -->
    <script src="../static/js/logic.js"></script>

    </body>

</html>