<!DOCTYPE html>

<head>
<html data-bs-theme="dark" lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Walmart Machine Learning</title>

</head>

<body>

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

              <!-- TITLE -->
            <div class="col-md-6">
                <span class="fs-4" id="title">Walmart Machine Learning</span>
            </div>
            
            <!-- NAV BUTTONS -->
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" id="nav1" href="#">
                        Visualization 1
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav2" href="#">
                        Visualization 2
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav3" href="#">
                        Visualization 3
                    </a>
                </li>
            </ul>
        </header>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 page border" id="page"></div>
        </div>
    </div>





















    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- LEAFLET JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- PLOTLY -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- LOCAL CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- LOCAL JAVASCRIPT -->
    <script src="../static/js/logic.js"></script>

    </body>

</html>